node_modules/
build*/
dist/
package-lock.json

# Payload binaries (downloaded by prepare-payload.sh)
payload/adb/win32/*.exe
payload/adb/win32/*.dll
payload/adb/darwin/adb
payload/adb/linux/adb
payload/apks/*.apk
payload/rootfs/*.tar.*
payload/node/*.tar.*
payload/tools/proot-distro-master.tar.gz
